<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Author Details</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Author Details</h1>
<div>
  <b>{{author.authorName}}</b>
  <p>{{author.biography}}</p>
  <p>Date of Birth: {{author.authorDateOfBirth}}</p>
</div>
</body>
</html>