<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{common/fragments :: header}"></div>
<body>
<div class="container">
    <div th:replace="~{common/fragments :: menu}"></div>
</div>
<div class="container">
    <table class="table table-hover table-sm">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Author Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(authors)}">
            <td colspan="2"> No authors Available</td>
        </tr>
        <tr th:each="author : ${authors}">
            <td><a th:href="@{/authors/{id}(id=${author.id})}" th:text="${author.authorName}"> Title</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="pagination container mx-auto mb-4" style="width: 200px;">
    <div class="row">
        <div class="col" th:if="${authors.hasPrevious}">
            <a th:href="@{/authors(size=${size},page=${authors.previousPageable.pageNumber})}">Previous</a>
        </div>
        <div class="col" th:if="${authors.hasNext}">
            <a th:href="@{/authors(size=${size},page=${authors.nextPageable.pageNumber})}">Next</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="mx-auto mb-4" style="width: 200px;"><b>Add new Author</b></div>
    <form th:action="@{/authors}" method="post">
        <div class="row">
            <div class="col-auto">
                <label for="authorName">Name / Alias of the Author</label>
                <input type="text" id="authorName" name="authorName" th:value="${authorName}" placeholder="Name"/>
            </div>
            <div class="col-auto">
                <label for="date">Date when author was born</label>
                <input type="date" id="date" name="date" th:value="${date}" placeholder="Date of birth"/>
            </div>
        </div>
        <div class="form-group">
            <label for="biography">Biography of the Author</label>
            <textarea class="form-control" id="biography" name="biography" th:value="${biography}" rows="3"></textarea>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-outline-primary btn-sm mt-2 mb-2">Submit</button>
        </div>
    </form>
</div>

<div th:replace="~{common/fragments :: footer}"></div>
</body>
</html>
