<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{common/fragments :: header}"></div>
<body>
<div class="container">
    <div th:replace="~{common/fragments :: menu}"></div>
</div>
<div class="container">
    <table class="table table-hover table-sm">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Genre</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(books)}">
        <td colspan="2"> No data Available</td>
    </tr>
    <tr  th:each="bookDTO : ${books}">
        <td> <a th:href="@{/books/{id}(id=${bookDTO.id})}" th:text="${bookDTO.title}"> Title</a></td>
        <td><span th:text="${bookDTO.genre}">Genre</span></td>
    </tr>
    </tbody>
</table>
</div>
<div class="pagination container mx-auto mb-4" style="width: 200px;">
    <div class="row">
        <div class="col" th:if="${books.hasPrevious}">
            <a th:href="@{/books(size=${size},page=${books.previousPageable.pageNumber})}">Previous</a>
        </div>
        <div class="col" th:if="${books.hasNext}">
            <a th:href="@{/books(size=${size},page=${books.nextPageable.pageNumber})}">Next</a>
        </div>
    </div>

</div>
<div class="container">
    <div class="mx-auto mb-4" style="width: 200px;"><b>Add new book</b></div>
    <form  th:action="@{/books}" method="post">
        <div class="row">
            <div class="col-auto">
                <label for="title">Please write the title of book</label>
                <input class="form-control" type="text" id="title" name="title" th:value="${title}"  placeholder="Title" />
            </div>
            <div class="col-auto">
                <label for="bookGenre">Choose a genre:</label>
                <select  class="form-control" id="bookGenre" name="genre">
                    <option th:each="genre : ${T(com.example.books.domain.BookGenre).values()}"
                            th:value="${genre}"
                            th:text="${genre}">Wireframe</option>
                </select>
            </div>
            <div class="col-auto">
                <label for="authorName">Choose author:</label>
                <select class="form-control" id="authorName" name="authorName"  th:unless="${#lists.isEmpty(authorSet)}">
                    <option th:each="authorName : ${authorSet}"
                            th:value="${authorName}"
                            th:text="${authorName}">
                        Wireframe</option>
                </select>
                <div th:if="${#lists.isEmpty(authorSet)}">
                    No authors available.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-outline-primary btn-sm mt-2 mb-2">Submit</button>
            </div>
            <div class="col">
                <a class="btn btn-outline-primary btn-sm mt-2 mb-2" th:href="@{/authors}" role="button"> Add new author</a>
            </div>
        </div>
    </form>
</div>
<div th:replace="~{common/fragments :: footer}"></div>


</body>
</html>
