<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Details</h1>
<div>
    <b>{{book.title}}</b>
    <b>{{book.genre}}</b>
    <a href="/authors/{{author_id}}">
        <span>{{authorName}}</span>
    </a>

</div>
<h3>Change info</h3>
<div>
    <form method="post">
        <input type="text" name="title"  placeholder="Title" />

        <label for="cars">Choose a genre:</label>

        <select name="genre" id="book">
            <option value="HORROR">Horror</option>
            <option value="COMEDY">Comedy</option>
            <option value="ROMANTIC">Romantic</option>
            <option value="ADVENTURE">Adventure</option>
            <option value="OTHER">Other</option>
        </select>
        <button type="submit">Save changes</button>
    </form>
</div>
    <!-- Добавляем пагинацию -->
    <div class="pagination">
        <ul>
            {{#books.hasPrevious}}
                <li>
                    <a href="/books?page={{books.previousPageable.pageNumber}}">Previous</a>
                </li>
            {{/books.hasPrevious}}
            {{#books.navigatepageNums}}
                <li>
                    <a href="/books?page={{.}}">{{.}}</a>
                </li>
            {{/books.navigatepageNums}}
            {{#books.hasNext}}
                <li>
                    <a href="/books?page={{books.nextPageable.pageNumber}}">Next</a>
                </li>
            {{/books.hasNext}}
        </ul>
    </div>
</body>
</html>