<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{common/fragments :: header}"></div>
<body>
<div class="container">
    <div th:replace="~{common/fragments :: menu}"></div>
</div>
<h1>Details</h1>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td> <span th:text="${book.title}">Title</span></td>
        <td> <span th:text="${book.genre}">Genre</span></td>
        <td> <a th:href="@{/authors/{author_id}(author_id=${author_id})}" th:text="${authorName}"></a> </td>
    </tr>
    </tbody>
</table>
<h3>Change info</h3>
<div>
    <form th:action="@{/books/{id}(id=${book.id})}" method="post">
        <input type="text" name="title" th:value="${title}" placeholder="Title" />
        <label for="bookGenre">Choose a genre:</label>
        <select  id="bookGenre" name="genre">
            <option th:each="genre : ${T(com.example.books.domain.BookGenre).values()}"
                    th:value="${genre}"
                    th:text="${genre}">Wireframe</option>
        </select>
        <label for="authorName">Choose author:</label>
        <select id="authorName" name="authorName"  th:unless="${#lists.isEmpty(authorSet)}">
            <option th:each="author : ${authorSet}"
                    th:value="${author.authorName}"
                    th:text="${author.authorName}">
                Wireframe</option>
        </select>
        <button type="submit">Save changes</button>
    </form>
    <div th:replace="~{common/fragments :: footer}"></div>
</div>
</body>
</html>